/*html {
	background: #999;
}
body {
	width: 480px;
	background: white;
	margin: auto;
}
h1 {
	margin: 0;
}*/
html {
	background: url("img/pinstripes.png") repeat scroll 0 0 #C5CCD3;
}

.toolbar {
/*	background: #745FA0;*/
}

#places div.nucuisine {
	background: url(img/logo.gif)
		no-repeat center center;
	height: 94px;
}
#places div.nucuisine h1 {
	display: none;
}

h2 {
	color: #FEFCDB;
	background-color: #745FA0;
	text-align: center;
	font-size: 110%;
	margin: 0;
	padding: 5px 0;
	border: 1px solid black;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.logo {
	width: 100%;
	background: url("img/pinstripes.png") repeat scroll 0 0 #C5CCD3;
}

.logo img {
	margin: auto;
	display: none;
}

ul.edgetoedge {
	font-size: 19px;
}

ul.edgetoedge li.today a {
	background-image:url("img/today.gif");
	background-position: 75% 50%;
	background-repeat:no-repeat;
}
ul.edgetoedge li img {
	height: 15px;
	width:15px;
	border: none;
	margin: 0 3px;
	padding: 0;
}

.key {
	text-align: center;
}
.key span {
	background:none no-repeat scroll 1px 0 transparent;
	font-size:14px;
	font-weight:normal;
	padding:0 10px 0 20px;
	font-style: italic;
}
.key span.ev {
	background-image: url('img/ev.gif');
}
.key span.eg {
	background-image: url('img/eg.gif');
}
.key span.ew {
	background-image: url('img/ew.gif');
}
.key span.ec {
	background-image: url('img/ec.gif');
}